html * {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.venue{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
}